html {
  min-height: 100%;
  position: relative;
}

body{
	margin: 0;
    margin-bottom: 40px;
    padding: 0;
	background: url("wall.jpg") no-repeat fixed center top #020202;
	color: #fff;
	font-family: 'ABeeZee', sans-serif;	 

}
	

h1{
	font-weight: 700; color: #33FFF9; 
	font-family: arial, sans-serif;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

.table strong { font-weight: 700; color: #3d3d3d; }

.table-header-datos {
    padding: 5px 0 5px 0;
    background: #F107E6;
	border-bottom:10px solid #C524BD;
}

#datos{
	/*float: left;*/
    float: left;
    background:#E4E8E6;
    margin:20px 0;
	border:1px solid #C524BD;
	border-bottom:10px solid #C524BD;
    
}

.table-header-exp {
    padding: 5px 0 5px 0;
    background: #16a085;
	border-bottom:10px solid #14937a;
}

#exp{
	/*float: left;*/
    float: left;
 
    background:#E4E8E6;
    margin:20px 0;
	border:1px solid #14937a;
	border-bottom:10px solid #14937a;
    
}

.table-header-educ {
    padding: 5px 0 5px 0;
    background: #f39c12;
	border-bottom:10px solid #cd8109;
}

#educ{
    /*float: left;*/
    float: left;
    margin:20px 0;background:#E4E8E6;
	border:1px solid #cd8109;
	border-bottom:10px solid #cd8109;
    
}


.table-header-cual {
    padding: 5px 0 5px 0;
    background: #c0392b;
	border-bottom:10px solid #a12f23;
}

#cual{
   /*float: left;*/
    float: left;
    margin:20px 0;background:#E4E8E6;
	border:1px solid #a12f23;
	border-bottom:10px solid #a12f23;
    
}

.table-header-int {
    padding: 5px 0 5px 0;
    background: #2980b9;
	border-bottom:10px solid #1d6391;
} 

#int{
   /*float: left;*/
    float: left;
    margin:20px 0;background:#E4E8E6;
	border:1px solid #1d6391;
	border-bottom:10px solid #1d6391;
    
}


.table-features {
    margin: 15px 10px 0 10px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px dashed #888;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #888;
}



